.git
Shiki.Service/bin\Debud\net5.0
Shiki.Service/obj
Shiki.Data/bin\Debud\net5.0
Shiki.Data/obj
Shiki/bin\Debug\net5.0
Shiki/obj
Shiki/Properties
Shiki.Commands/bin\Debud\net5.0
Shiki.Commands/obj